<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Beginner Streaming Music</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.js"></script>
        <link href="https://demos.creative-tim.com/soft-ui-design-system/assets/css/nucleo-icons.css" rel="stylesheet" />
        <link href="https://demos.creative-tim.com/soft-ui-design-system/assets/css/nucleo-svg.css" rel="stylesheet" />
        <link rel="stylesheet" href="../css/theme.css">
        <link rel="stylesheet" href="../css/loopple/loopple.css">
    </head>
    <!-- data가 Object 타입으로 리턴.. JSON.stringify 사용시 문자열로 보여짐 / 아니면 for 문 사용할 것-->
    <body>
        <!-- top nav / 로고, 페이지 이동 버튼 / 검색, 마이페이지 아이콘 / 로그인 버튼-->
        <%- include('./common/topNav.ejs')%>

        <!-- 상품 최근 등록된 NFT 노출 -->
        <section class="pt-6 pb-4">
            <div class="container">
                <div class="row mb-4">
                    <!-- 상품 목록 제목-->
                    <div class="col-12 text-center">
                        <h3 id="player" class="mb-5" spellcheck="false">My NFT</h3>
                    </div>
                    <!-- 음악 목록이 있을 경우만 오디오 태그 생성 -->
                    <% if(mList.length != 0) { %>
                        <div class="col-12 text-center">
                            <iframe src="../music/silence.mp3" allow="autoplay" style="display: none;"></iframe>
                            <audio autoplay loop controls>
                                <% for(let j in mList){ %>
                                    <source src="<%=mList[j]%>" type="audio/mp3">
                                <% } %>
                            </audio>
                        </div>
                    <% } %>
                    <!-- howler 시도 -->
                    <!-- <div class="col-12 text-center">
                        <button btn btn-outline-dark mb-0 onclick="openPlayer()">My Playlist</button>
                    </div> -->
                    <!-- 상품 카드 -->
                    <% for(let i in data){ %>
                    <div class="col-lg-3 mb-lg-0 mb-4">
                        <div class="card border-dark">
                            <!-- 카드 이미지 영역-->
                            <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
                                <a href="javascript:;" class="d-block">               
                                    <!-- <img src="https://images.unsplash.com/photo-1548460464-2a68877c7a5f?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cm9zZXxlbnwwfDJ8MHx8&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=60" class="img-fluid border-radius-lg shadow"> -->
                                    <img src="<%=data[i].image%>" class="img-fluid border-radius-lg shadow" style="object-fit: cover;">
                                </a>
                            </div>
                            <!-- 카드 내용 영역-->
                            <div class="card-body pt-3">
                                <div class="d-flex align-items-center" style="width: 100%; display: block;">
                                    <div style="flex: 1;">
                                        <div style="display: flex; justify-content: space-between;">
                                            <span class="card-subtitle"><%=data[i].attributes[1].value%></span>
                                            <span class="card-subtitle"><%=data[i].attributes[0].value%></span>
                                        </div>
                                        <h4 class="card-title font-weight-bolder text-dark mb-4">
                                            <%=data[i].name%>
                                        </h4>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-3">
                                    <h5 class="mb-0 font-weight-bolder">$25.40</h5>
                                    <h5 class="mb-0 opacity-4 text-sm ms-2"><strike>$29.00</strike></h5>
                                </div>
                                <a href="javascript:;" class="btn btn-outline-dark mb-0">Sell</a>
                                <div class="d-flex align-items-center mb-3">
                                    <span class="text-sm">
                                        <%=data[i].description%>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    <!-- <div class="col-12 mt-5 text-center">
                        <a href="javascript" class="btn bg-gradient-dark">View All</a>
                    </div> -->
                </div>
            </div>
        </section>

        <!-- footer 관련 페이지 / 각종 커뮤니티 아이콘  / 회사정보 / 페이지 / 팀 구성 / 자원 정보 등 -->
        <%- include('./common/footer')%>
    </body>
    <!-- <script>
        let _list = "<%=JSON.stringify(mList)%>";
        _list.replaceAll('&#34', '\"');
        let $player = document.querySelector("#player");
        let sound = new Howl({
            src: ['https://bsm-project.s3.ap-northeast-2.amazonaws.com/07g5lutuvl8_Billie+Eilish-01-wish+you+were+gay-wish+you+were+gay-192.mp3'],
            volume: 1.0,
        });
        $player.addEventListener("click", () => {
            new AudioContext().resume();
            alert("누름");
            sound.play();
        });
    </script> -->
    <script>
        // 새창 띄우기 
        function openPlayer() {
            window.open("/music/player");
        }
    </script>
</html>